.color-theme-01 {
  fill: #343e73;
}
.color-theme-02 {
  fill: #22a6a1;
}
.color-theme-03 {
  fill: #fa581f;
}
.color-theme-04 {
  fill: #ff9c4d;
}
.color-theme-05 {
  fill: #a6d169;
}
.color-theme-06 {
  fill: #ffda8a;
}
.color-theme-07 {
  fill: #e0b8ed;
}
.color-theme-08 {
  fill: #d0215a;
}
.color-assist-bg {
  fill: #ffffff;
}
